.app {
  height: 100vh;

  display: grid;
  grid-template-rows: auto 1fr auto;
}

.header__input {
  border: none;
  padding: 5px;
  border-radius: 50px;
  margin-top: 10px;
}
.app__header {
  font-size: 1.2rem;
  background: var(--bg-gradient-1);
  padding: 10px;
  display: grid;
  place-items: center;
}

.app__main {
  background: var(--bg-gradient-2);
  padding: 10px;
  border: solid;
  border-width: 5px 0px;
  border-color: green;
  overflow: auto;
}

.app__footer {
  background: var(--bg-gradient-1);
  text-align: center;
  padding: 1.5em;
}
